:root {
    --accent: #ffffff;
    --bg: #000000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  @font-face {
    font-family: "Arame Mono";
    src: url("/res/fonts/ArameMono.ttf") format("truetype");
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  font-family: "Arame Mono";
}

.menu-container {
  z-index: 1000;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 200px;
    height: 35px;
    overflow: hidden;
  }
  
  .menu-container .col {
    position: absolute;
    width: 200px;
    cursor: pointer;
  }
  
  .menu-container .col:nth-child(1) {
    left: 0;
  }

  .menu-container .col:nth-child(2) {
    left: 200px;
  }
  
  .menu-container .col .menu-item {
    background: var(--accent);
    color: var(--bg);
    text-decoration: none;
    margin: 0.075rem;
    padding: 0.075rem;
    font-size: 25px;
  }

  .menu-container .col-2 .menu-item {
    position: relative;
    left: 200px;
  }
  /* disable link colors */
  .menu-container .col .menu-item a,
  .menu-container .col .menu-item a:visited,
  .menu-container .col .menu-item a:hover,
  .menu-container .col .menu-item a:active {
    color: inherit;
    text-decoration: none;
  }
  
  .marquee-container {
    z-index: 1001;
    position: absolute;
    right: 0;
    width: 150px;
    padding: 0.5rem;
    background-color: var(--bg);
    color: var(--accent);
    border: 2px solid var(--accent);
    pointer-events: none;
    display: none;
    transform: scale(0);
    overflow: hidden;
  }
  
  .marquee-container .marquee {
    width: 2000px;
    font-size: 13px;
  }

  #three-js-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%;
    z-index: 1;
  } 

  #controls-container {
    position: fixed;
    width: 50%;
    height: 15%;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2000;
}
.circle {
  width: 50px;
  height: 50px;
  background-color: turquoise; /*for testing until I figure everything out*/
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
#open-circle{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2001;
}
#close-circle {
  position: absolute;
  top: 0%;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: var(--accent);
  border: 2px solid var(--bg);
}
  /* #controls-toggle {
    transition: backround-color 0.3s ease;
  }

  #controls-toggle:hover {
    background-color: var(--bg);
    border: 2px solid var(--accent);
  } */

  #light-rotation-slider {
    accent-color: var(--accent);
    color: var(--bg);
    width: 100%;
    z-index: 2;
}

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    z-index: 1000;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent);
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--bg);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--bg);
    border-color: var(--accent);
}

input:checked + .slider:before {
    background-color: var(--accent);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.nametag {
  font-family: "Arame Mono";
  color: var(--accent);
  font-size: 40px;
  letter-spacing: 50px;
  font-weight: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 3;
  /* background-color: var(--accent); */
}

.welcome-text-container {
  
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 100%;
  text-align: center;
}

.welcome-text {
  font-family: "Arame Mono";
  color: var(--accent);
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  display: none;
  z-index: 3;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  margin-top: 100px;
  z-index: 2;
}

.project-card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: var(--accent);
  /* border-radius: 8px; */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 10px;
}
.project-card:hover {
  transform: scale(1.05);
}
.project-card img {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  object-fit: contain;
}
.project-card h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--bg);
}
.project-card p {
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 1vh;
  color: var(--bg);
}
.popup {
  position: absolute;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: var(--bg);
  color: var(--accent);
  padding: 16px;
  transition: bottom 0.3s ease-in-out;
  bottom: -80px;
}
.project-card:hover .popup {
  bottom: 0;
}
.popup p {
  font-size: 12px;
  color: var(--accent);
  font-family: "Arame Mono";
}
.project-card .popup a {
  color: var(--accent);
}
.project-card .popup a:visited {
  color: var(--accent); /* This ensures visited links stay the same color */
}
.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-link a {
  margin-right: 5px;
  text-decoration: none;
}

.github-link a:hover {
  text-decoration: underline;
}
