html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: "Arame Mono";
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color: white;
}